<%- include ("../partials/header.ejs") %>

<input type="submit" onclick="_save()" value="SAVE" style="position: sticky; top:0">

<input id="problem_slug" value="<%= problem.problem_slug %>">

<input id="problem_title" value="<%= problem.problem_title %>">

<br>

<textarea id="problem_statement" rows="12" cols="160"><%= problem.problem_statement %></textarea>
<textarea id="problem_input" rows="8" cols="160"><%= problem.problem_input %></textarea>
<textarea id="problem_output" rows="4" cols="160"><%= problem.problem_output %></textarea>
<textarea id="problem_template" rows="12" cols="160"><%= problem.problem_template %></textarea>
  
<br>

<textarea id="testcases"  rows="20" cols="160"><% for(const [index,testcase] of testcases.entries()){ %>
>>>>>>>>>>
<%= testcase.testcase_input %>

<<<<<<<<<<
<%= testcase.testcase_output %>

??????????
<%= testcase.testcase_explanation %>

<% } %>
</textarea>

<br>



<input type="submit" onclick="_submit()" value="CHECK">

<div id="response"></div>

<script>
  async function _submit() {
    const code = document.getElementById('code').value;

    const response = await (await fetch('/submit/<%= problem.problem_slug %>', { method: 'post', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({code: code})})).json();

    console.log(response);
    var r = "";
    for(const [i, testcase] of response.testcases.entries()){
      if(testcase.result === 'ok'){
        r += "<p>Testcase " + i + "...ok</p>";
      } else {
        if(testcase.stderr){
          r += "<p>Testcase " + i + "...error</p>";
          r += "<pre>" + testcase.stderr + "</pre>";
        } else {
          r += "<p>Testcase " + i + "...fail</p>";
          r += "<div>Output</div>";
          r += "<pre>" + testcase.stdout + "</pre>";
          r += "<div>Expected</div>";
          r += "<pre>" + testcase.expected + "</pre>";
        }
      }
    }
    document.getElementById('response').innerHTML = r;
  }


  async function _save(){
      const problem_title = document.getElementById('problem_title').value;
      const problem_statement = document.getElementById('problem_statement').value;
      const problem_input = document.getElementById('problem_input').value;
      const problem_output = document.getElementById('problem_output').value;
      const testcases = document.getElementById('testcases').value;
      const problem_template = document.getElementById('problem_template').value;

      const tarr = testcases.split(/(?:>>>>>>>>>>+|<<<<<<<<<<+|\?\?\?\?\?\?\?\?\?+)\n/);

      console.log(tarr);

      const tobj = [];
      for(let i=1; i<tarr.length; i+=3){
          tobj.push({input: tarr[i].replace(/(\s+)\n/g,'').replace(/\s+$/g,''), output: tarr[i+1].replace(/(\s+)\n/g,'').replace(/\s+$/g,''), explanation: tarr[i+2].replace(/(\s+)\n/g,'').replace(/\s+$/g,'')});
      }

      console.log(tobj);

      const response = await f('/admin/save/<%= problem.problem_slug %>', 
        {data: {problem_title: problem_title, problem_statement: problem_statement, problem_input: problem_input, problem_output: problem_output, testcases: tobj, problem_template: problem_template}});

      console.log(response);
      if (response.redirect) {
           window.location.replace(response.redirect);
      }
  }

  async function f(url, data){
    const response = await fetch(url, { method: 'post', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(data)});
    await response;
    console.log(response);
    return (await response).json();
  }
</script>


