<%- include ("../partials/header.ejs") %>

<h1>Welcome <%= user_email %> <a href="/logout">[logout]</a></h1>

<ol class="problem-list">
<% problems.forEach(function(problem){ %>
  <li class="<%= problem.submission_ok %>"><a href="/problems/<%= problem.problem_slug %>"><%= problem.problem_title %></a>&nbsp; &nbsp; &nbsp; <%= problem.problem_id %></li>
<% }); %>
</ol>