<%- include ("../partials/header.ejs") %>

<h1><%= problem.title %></h1>

<p><%- problem.statement %></p>

<% if (problem.inputformat) {%>
<h2>Input format</h2>
<p><%- problem.inputformat %></p>
<% } %>

<% if (problem.constraints) {%>
<h2>Constraints</h2>
<p><%- problem.constraints %></p>
<% } %>

<% if (problem.outputformat) {%>
<h2>Output format</h2>
<p><%- problem.outputformat %></p>
<% } %>

<h2>Testcases</h2>
<% for([index,testcase] of testcases.entries()){ %>
  <div class="testcase">
  <h3>Input <%= index %></h3>
  <pre><%= testcase.input %></pre>
  <h3>Output <%= index %></h3>
  <pre><%= testcase.output %></pre>
  <% if (testcase.explanation) {%>
  <h3>Explanation <%= index %></h3>
  <p><%- testcase.explanation %></p>
  <% } %>
  </div>
<% } %>

<div id="container" style="height:800px;border:1px solid grey"></div>

<script type="text/javascript" src="/monaco-editor/min/vs/loader.js" ></script>

<script>
    var editor;
    require.config({ paths: { 'vs': '/monaco-editor/min/vs' }});
    require(['vs/editor/editor.main'], function() {
         editor = monaco.editor.create(document.getElementById('container'), {
            value: [
`<%- problem.template %>`,
            ].join('\n'),
            language: 'java',
            theme: "vs-dark",
            scrollBeyondLastLine: false,
            scrollbar: {
              alwaysConsumeMouseWheel: false
            }
        });
    });
</script>

<input id="check" type="submit" onclick="_submit()" value="CHECK">

<div id="response"></div>

<script>
  let selectedprev = 0;

  function _submit(){
    const v = document.getElementById('check');
    v.value = "CHECKING";
    v.disabled = true;

    var dots = window.setInterval( function() {
    if ( v.value.length > 16 ) 
        v.value = "CHECKING";
    else 
        v.value += " . ";
    }, 700);

    _check().then(() => {    
      v.value = "CHECK";
      clearInterval(dots);
      v.disabled = false;
    });
  }

  async function _check() {

    const code = editor.getValue();

    const response = await (await fetch('/submit/<%= problem.slug %>', { method: 'post', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({code: code})})).json();
    
    let testtabs = "<div class='testcheck'>";
    let testpage = "";
    for(const [i, testcase] of response.testcases.entries()){
      testtabs += "<p id='testtab"+i+"' class='testtab + "+ testcase.result+ "' onclick='select("+i+")'>Testcase " + i + " " + testcase.result + "</p>"; 
      testpage += "<div id='testpage"+i+"' class='testpage'>";
      if(testcase.stderr){
        testpage += "<p>Error. Java output:</p>";
        testpage += "<pre>" + testcase.stderr + "</pre>";
      } else {
        testpage += "<div>Output</div>";
        testpage += "<pre>" + testcase.stdout + "</pre>";
        testpage += "<div>Expected</div>";
        testpage += "<pre>" + testcase.expected + "</pre>";
      }
      testpage += "</div>";
    }
    testtabs += "</div>"
    document.getElementById('response').innerHTML = testtabs + testpage;

    select(0);
  }

  function select(i){
    document.getElementById("testpage"+selectedprev).classList.remove('selected');
    document.getElementById("testpage"+i).classList.add('selected');
    document.getElementById("testtab"+selectedprev).classList.remove('selected');
    document.getElementById("testtab"+i).classList.add('selected');
    selectedprev = i;
  }
</script>
