<%- include ("../partials/header.ejs") %>

<h1><%= problem.title %></h1>

<p><%= problem.statement %></p>

<% testcases.forEach(function(testcase){ %>
  <h2>Input</h2>
  <pre><%= testcase.input %></pre>
  <h2>Output</h2>
  <pre><%= testcase.output %></pre>
<% }); %>

<textarea id="code" rows="20" cols="80">
<%= problem.template %>
</textarea>
<input type="submit" onclick="_submit()" value="CHECK">

<div id="response"></div>

<script>
  async function _submit() {
    const code = document.getElementById('code').value;

    const response = await (await fetch('/submit/<%= problem.slug %>', { method: 'post', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({code: code})})).json();

    console.log(response);
    var r = "";
    for(const [i, testcase] of response.testcases.entries()){
      if(testcase.result === 'ok'){
        r += "<p>Testcase " + i + "...ok</p>";
      } else {
        if(testcase.stderr){
          r += "<p>Testcase " + i + "...error</p>";
          r += "<pre>" + testcase.stderr + "</pre>";
        } else {
          r += "<p>Testcase " + i + "...fail</p>";
          r += "<div>Output</div>";
          r += "<pre>" + testcase.stdout + "</pre>";
          r += "<div>Expected</div>";
          r += "<pre>" + testcase.expected + "</pre>";
        }
      }
    }
    document.getElementById('response').innerHTML = r;
  }
</script>
