<%- include ("../partials/header.ejs") %>

<h1><%= problem.problem_title %></h1>

<p><%- problem.problem_statement %></p>

<% if (problem.problem_input) {%>
<h2>Input format</h2>
<p><%- problem.problem_input %></p>
<% } %>

<% if (problem.problem_output) {%>
<h2>Output format</h2>
<p><%- problem.problem_output %></p>
<% } %>

<h2>Testcases</h2>
<% for([index,testcase] of testcases.entries()){ %>
  <div class="testcase">
  <h3>Input <%= index %></h3>
  <pre><%= testcase.testcase_input %></pre>
  <h3>Output <%= index %></h3>
  <pre><%= testcase.testcase_output %></pre>
  <% if (testcase.testcase_explanation) {%>
  <h3>Explanation <%= index %></h3>
  <p><%- testcase.testcase_explanation %></p>
  <% } %>
  </div>
<% } %>

<div id="editor"></div>

<script type="text/javascript" src="/monaco-editor/min/vs/loader.js" ></script>

<script>
    var editor;
    require.config({ paths: { 'vs': '/monaco-editor/min/vs' }});
    
    require(['vs/editor/editor.main'], function() {
    monaco.languages.registerCompletionItemProvider('java', {
      provideCompletionItems: () => {
            return {
                suggestions: [
                    {
                        label: '"sout"',
                        kind: monaco.languages.CompletionItemKind.Function,
                        insertText: 'System.out.println(${1:});',
                        insertTextRules: monaco.languages.CompletionItemInsertTextRule.InsertAsSnippet
                    },
                    {
                        label: '"fori"',
                        kind: monaco.languages.CompletionItemKind.Function,
                        insertText: 'for (int ${1:i} = 0; ${1:i} < ${2:}; ${1:i}++) {\n}',
                        insertTextRules: monaco.languages.CompletionItemInsertTextRule.InsertAsSnippet
                    }       
                ]
            };
        }
    });

         editor = monaco.editor.create(document.getElementById('editor'), {
            value: [
`<%- problem.problem_template %>`,
            ].join('\n'),
            language: 'java',
            theme: "vs-dark",
            scrollBeyondLastLine: false,
            scrollbar: {
              alwaysConsumeMouseWheel: false
            }
        });
    });
</script>

<input id="check" type="submit" onclick="_submit(0)" value="CHECK">
<input id="submit" type="submit" onclick="_submit(1)" value="SUBMIT">

<div id="response"></div>

<script>
  let selectedprev = 0;

  function _submit(save){
    let v;
    if(save){
      v = document.getElementById('submit');
    } else {
      v = document.getElementById('check');
    }
    v.value = "CHECKING";
    v.disabled = true;

    var dots = window.setInterval( function() {
    if ( v.value.length > 16 ) 
        v.value = "CHECKING";
    else 
        v.value += " . ";
    }, 700);

    __submit(save).then(() => {    
      v.value = "CHECK";
      clearInterval(dots);
      v.disabled = false;
    });
  }

  async function __submit(save) {

    const code = editor.getValue();

    let response;
    if(save){
      response = await (await fetch('/submit/<%= problem.problem_slug %>', { method: 'post', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({code: code})})).json();
    } else {
      response = await (await fetch('/check/<%= problem.problem_slug %>', { method: 'post', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({code: code})})).json();
    }
    
    let testtabs = "<div class='testcheck'>";
    let testpage = "";
    for(const [i, testcase] of response.testcases.entries()){
      testtabs += "<p id='testtab"+i+"' class='testtab + "+ testcase.result+ "' onclick='select("+i+")'>Testcase " + i + " " + testcase.result + "</p>"; 
      testpage += "<div id='testpage"+i+"' class='testpage'>";
      if(testcase.stderr){
        testpage += "<p>Error. Java output:</p>";
        testpage += "<pre>" + testcase.stderr + "</pre>";
      } else {
        testpage += "<div>Output</div>";
        testpage += "<pre>" + testcase.stdout + "</pre>";
        testpage += "<div>Expected</div>";
        testpage += "<pre>" + testcase.expected + "</pre>";
      }
      testpage += "</div>";
    }
    testtabs += "</div>"
    document.getElementById('response').innerHTML = testtabs + testpage;

    select(0);
  }

  function select(i){
    document.getElementById("testpage"+selectedprev).classList.remove('selected');
    document.getElementById("testpage"+i).classList.add('selected');
    document.getElementById("testtab"+selectedprev).classList.remove('selected');
    document.getElementById("testtab"+i).classList.add('selected');
    selectedprev = i;
  }
</script>
