<%- include ("../partials/header.ejs") %>

<h1><%= problem.title %></h1>

<p><%- problem.statement %></p>

<% if (problem.inputformat) {%>
<h2>Input format</h2>
<p><%- problem.inputformat %></p>
<% } %>

<% if (problem.constraints) {%>
<h2>Constraints</h2>
<p><%- problem.constraints %></p>
<% } %>

<% if (problem.outputformat) {%>
<h2>Output format</h2>
<p><%- problem.outputformat %></p>
<% } %>

<h2>Testcases</h2>
<% for([index,testcase] of testcases.entries()){ %>
  <div class="testcase">
  <h3>Input <%= index %></h3>
  <pre><%= testcase.input %></pre>
  <h3>Output <%= index %></h3>
  <pre><%= testcase.output %></pre>
  <% if (testcase.explanation) {%>
  <h3>Explanation <%= index %></h3>
  <p><%- testcase.explanation %></p>
  <% } %>
  </div>
<% } %>

<div id="container" style="height:800px;border:1px solid grey"></div>

<script type="text/javascript" src="/monaco-editor/min/vs/loader.js" ></script>

<script>
    var editor;
    require.config({ paths: { 'vs': '/monaco-editor/min/vs' }});
    require(['vs/editor/editor.main'], function() {
         editor = monaco.editor.create(document.getElementById('container'), {
            value: [
`<%- problem.template %>`,
            ].join('\n'),
            language: 'java',
            theme: "vs-dark"
        });
    });
</script>

<input type="submit" onclick="_submit()" value="CHECK">

<div id="response"></div>

<script>
  async function _submit() {
    const code = editor.getValue(); //document.getElementById('code').value;
    console.log(editor.value);

    const response = await (await fetch('/submit/<%= problem.slug %>', { method: 'post', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({code: code})})).json();

    console.log(response);
    var r = "";
    for(const [i, testcase] of response.testcases.entries()){
      if(testcase.result === 'ok'){
        r += "<p>Testcase " + i + "...ok</p>";
      } else {
        if(testcase.stderr){
          r += "<p>Testcase " + i + "...error</p>";
          r += "<pre>" + testcase.stderr + "</pre>";
        } else {
          r += "<p>Testcase " + i + "...fail</p>";
          r += "<div>Output</div>";
          r += "<pre>" + testcase.stdout + "</pre>";
          r += "<div>Expected</div>";
          r += "<pre>" + testcase.expected + "</pre>";
        }
      }
    }
    document.getElementById('response').innerHTML = r;
  }
</script>
